footer{
	height: 650px;
    width: 100%;
    background: url('../images/footer-image.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    .footer{
		ul li {
	    display: inline-block;
	    list-style-type: none;
	    text-align: center;
	    color: white;
	    a {
	      padding: 10px;
	      text-transform: uppercase;
	      font-family: 'Montserrat', sans-serif;
	    }
	    .fab{
	    	color: white;
	    	font-size: 30px;
	    }
	  }
	}  
}