.footer{
	img{
		width: 100%;
	}
	ul li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    color: white;
    a {
      padding: 10px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
    }
  }
}