body{
	background-color: #fffadd;
	margin:0;
	padding: 0;
	p{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 14px;
	}
	h1, h2, h3{
		font-family: 'Montserrat', sans-serif;
		color: #03313a;
		text-align: center;
	}
	h4, h5, h6{
		font-family: 'Raleway', sans-serif; 
	}
}