nav{
    background-color: #08342d;
    height: 100px;
    width: 100%;
}

.header_menu{
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 700;
  ul{
    float: right;
    list-style-type: none;
  }  
  ul li {
    display: inline-block;
    list-style-type: none;
    text-align: right;
    a {
      padding: 10px;
      text-transform: uppercase;
      color: white;
    a:hover{
      text-decoration: underline;
      color: #29525c;
    }
    a:active{
      color: #096f56;
    }

    }
  }
  .logo{
    margin-top: 12px;
  }
}

  