nav{
    background-color: #08342d;
    width: 100%;
    padding: 10px;

} 

.menu-paihuen{
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 700;
  display: none;
  @media only screen and (min-width: 810px){
    display: block;
  }
  ul{
    list-style-type: none;
    float: right;
  }  
  ul li {
    display: inline-block;
    list-style-type: none;
    text-align: right;
    @media only screen and (max-width: 809px){
      display: block;
      text-align: center;
      line-height: 2;
    }
    a {
      padding: 10px;
      text-transform: uppercase;
      color: white;
    a:hover{
      text-decoration: underline;
      color: #29525c;
    }
    a:active {
      color: #096f56;
      }
    }
  }
  .logo{
    margin-top: 12px;
  }
}


/**RESPONSIVE MENU**/
@media only screen and (max-width: 809px){
    .mobile-menu a{
      height: 40px;
      width: 100%;
      color: white;
      display: block;
      text-align: center;
      line-height: 40px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
    }
  }

@media only screen and (min-width: 810px){
  .mobile-menu a{
    display: none;
  }
}


  