.home--banner{
	background: url('../images/copihues.jpg') no-repeat center center;
    background-size: cover;
    height: 720px;
    padding-top: 460px;
    padding-left: 120px;
   .title_banner{
    	font-family: 'Montserrat', sans-serif;
    	font-size: 26px;
    	text-align: center;
    }
    p{
    	color: white;
	    text-transform: uppercase;
	    text-align: center;
	    font-size: 18px;
	    line-height: 2;
    }
}

.banner-text{
	background-color: #0a3234;
	height: 170px;
	width: 680px;
	padding: 30px;
	opacity: 0.8;
	h4{
		text-transform: uppercase;
	    color: white;
	    font-family: 'raleway', sans-serif;
	    font-weight: 800;
	}
}
.title{
	text-align: center;
}

.circle{
	background-color: #096f56;
	height: 250px;
	width: 250px;
    border-radius: 50%;
	color: #fffadd;
	text-align: center;
    line-height: 20;
    margin: 20px auto;
}
.circle i{
	font-size: 9rem;
}
.texto{
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.medio{
	margin: 20px 0;
}

.slider{
	margin: 50px 0;
}

.cards_home{
	border: 2px solid black;
	margin: 20px;
	padding: 30px;
	h3{
		text-align: center;
	}
	p{
		text-align: center;
	}
	.btn__cards{
		background-color: #096f56;
		margin: 0 auto;
	}
}

.description_home{
	text-aling: center;
}