.home--banner{
	background: url('../images/copihues.jpg') no-repeat center center;
    background-size: cover;
    height: 720px;
    padding-top: 460px;
    padding-left: 120px;
    @media only screen and (max-width: 768px){
    	padding-top: 200px; 
    }
   .title_banner{
    	font-family: 'Montserrat', sans-serif;
    	font-size: 26px;
    	text-align: center;
    	@media only screen and (max-width: 768px){
    		font-size: 20px;
    		text-decoration: center
    	}
    }
    p{
    	color: white;
	    text-transform: uppercase;
	    text-align: center;
	    font-size: 18px;
	    line-height: 2;
    	@media only screen and (max-width: 768px){
    		font-size: 12px;
    		text-decoration: center
    	}	    
    }
}

@media only screen and (max-width: 768px){
    .mobile-menu a{
      height: 40px;
      width: 100%;
      color: white;
      display: block;
      text-align: center;
      line-height: 40px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
    }
  }

@media only screen and (min-width: 767px){
  .mobile-menu a{
    display: none;
  }
}

.banner-text{
	background-color: #0a3234;
	height: 170px;
	width: 680px;
	padding: 30px;
	opacity: 0.8;
	@media only screen and (max-width: 768px){
    	width: 450px;
    	padding: 15px;
   	}
	h4{
		text-transform: uppercase;
	    color: white;
	    font-family: 'raleway', sans-serif;
	    font-weight: 800;
	}
}
.title{
	text-align: center;
	margin-top: 50px;
}

.circle{
	background-color: #096f56;
	height: 250px;
	width: 250px;
    border-radius: 50%;
	color: #fffadd;
	text-align: center;
    line-height: 20;
    margin: 20px auto;
}
.circle i{
	font-size: 9rem;
}
.texto{
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.medio{
	margin: 20px 0;
}

.slider{
	margin: 50px 0 0 0;
}

.cards_home{
	margin: 20px;
    padding: 30px;
	h3{
		text-align: center;
	}
	p{
		text-align: center;
		font-size: 17px;
	}
	.btn__cards{
		background-color: #096f56;
		margin: 0 auto;
		border: none;
		text-transform: uppercase;
	}
	button{
		text-aling: center;
	}
}

.description_home{
	text-aling: center;
}

.google_maps iframe{
	width: 100%;
	padding: 0;
}

.form_contact{
	background: url('../images/formulario-fondo.png') no-repeat center center;
	background-size: cover;	
	padding: 50px;
	.title_form{
		color: white;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
	}
	.mensaje_form{
		width: 100%;
    	height: 300px;
    	padding: 10px;
	}
}