.page_style{
	margin: 10px auto 0 auto;
	width: 70%;
	@media (max-width: 576px) {
		width: 85%;
	}
}

.hero{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 450px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	margin-top: 70px;
}



.contenido-hero{
	color: #ffffff;
	width: 100vw;
}

.texto-hero{
	width: 80%;
	margin: 0 auto;
	@media only screen and (min-width: 992px){
		width: 60%;
	}
	h1{
		color: white;
		font-weight: 700;
	}
}

.principal{
	background-color: rgba(12, 49, 54, 0.6);
	position: relative;
	@media only screen and (min-width: 768px){
		margin-top: -90px;
	}
}

.contenido-paginas{
	p{
		font-size: 18px;
		line-height: auto;
	}
}

.texto-centrado{
	text-align: center;
}